<div class="title">
  Hogwarts
  <div></div>
</div>


<div class="main-content">
  <div class="column">
    <div class="label">Teachers</div>
    <div class="content">
      <app-identity-block/>
      <app-identity-block/>
      <app-identity-block/>
    </div>
  </div>
  <div class="column">
    <div class="label">Students</div>
    <div class="content content-large">
      <app-identity-block/>
      <app-identity-block/>
      <app-identity-block/>
      <app-identity-block/>
    </div>
  </div>
</div>
