/* You can add global styles to this file, and also import other style files */

body {
  padding: min(40px , 5vw);
  background: rgba(252, 252, 252, 1);


  @media screen and (min-width: 820px) {
    padding-right: 0;
  }
}

/*.main-content .content-large {
  .id-block:nth-child(1) {
    margin-right: 40px;
    background-color: red;
  }
}
*/
